@import '../../styles/settings.scss';

.inputContainer {
  display: inline-block;
  padding: 5px;
  text-align: center;
  //border: 2px dotted red;
}

.inputTypeText {
  padding: 5px;
  font-size: 10px;
  background-color: dodgerblue;
  border: 2px solid lightseagreen;
  border-radius: 5px;
  transition: 0.5s;
  outline: none;
  &:hover {
    opacity: 0.7;
    transition: 0.5s;
    cursor: pointer;
  }
  &:focus {
    background-color: lightskyblue;
    border: 2px solid white;
  }
}