$color-light: #fff;
$color-dark: #2f3542;
$color-success: #26de81;
$color-warning: #e1644e;
$color-cards: dodgerblue;
$color-album: blanchedalmond;
$color-black: black;
$color-white: white;

$font-text: 'Poppins', sans-serif;
$font-title: 'Big Shoulders Display', cursive;

$radius: 5px;
$base-size: 12px;
$transition: all 0.7s;
