@import '../../styles/settings.scss';

.titleContainer {
  margin: 0 auto;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  text-transform: uppercase;
  transform: translate(-50%,-50%);
}

.titleText {
  font-size: 40px;
  //border: 2px dotted green;
}

.subtitleText {
  font-size: 17px;
  letter-spacing: 2px;
  //border: 2px dotted lightgreen;
}