@import '../../styles/settings.scss';

.cardContainerButton {
  position: relative;
  height: 400px;
  background-color: inherit;
  border: none;
  &:hover {
    cursor: pointer;
  }
  &:active {
    &:after {
      content: '';
      position: absolute;
      top: -345px;
      left: 10px;
      height: 375px;
      width: 270px;
      background-color:silver;
      opacity: 0.1;
      border-radius: 15px;
      box-shadow: $color-black 1px 10px 20px -1px;
      z-index: -1;
    }
  }
}

.cardListElement {
  margin: 20px;
  display: inline-block;
  list-style: none;
}

.cardContainer {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 10px 0;
  height: 350px;
  width: 300px;
  text-align: center; 
  border-radius: 10px;
  overflow: hidden;
  background-color: $color-cards;
  box-shadow: 0 8px 6px -6px $color-black;
  border: 2px solid $color-cards;
  transition: $transition;
  &:hover {
    box-shadow: $color-black 1px 10px 20px -1px;
    transition: $transition;
    .cardImg {
      transition: $transition;
      opacity: 1;
    }
  } 
}

.cardTitle {
  margin: 5px 0 15px;
  font-family: $font-title;
  letter-spacing: 5px;
  font-size: 20px;
}

.cardText {
  margin: 5px 0 10px;
  font-family: $font-title;
  letter-spacing: 2px;
  font-size: 15px;
}

.cardImgWrapper {
  display: block;
  position: relative;
  height: 190px;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  border: 3px solid $color-cards; 
}

.cardImg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.9;
  transition: 0.7s;
}