@import '../../styles/settings.scss';

.cardListElement {
  margin: 10px 7px;
  display: inline-block;
  list-style: none;
}

.cardContainer {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 5px 0;
  height: 90px;
  width: 90px;
  text-align: center; 
  border-radius: 5px;
  overflow: hidden;
  background-color: $color-cards;
  box-shadow: 0 8px 6px -6px $color-black;
  border: 2px solid $color-cards;
  transition: $transition;
  &:hover {
    box-shadow: $color-black 1px 10px 20px -1px;;
    transition: $transition;
    .cardImg {
      transition: $transition;
      opacity: 1;
    }
  } 
}

.cardText {
  margin: 5px 0 10px;
  font-family: $font-title;
  letter-spacing: 2px;
  font-size: 13px;
}

.cardImgWrapper {
  display: block;
  position: relative;
  height: 55px;
  margin: 0px 5px 5px;
  border-radius: 5px;
  overflow: hidden;
  border: 3px solid $color-cards; 
}

.cardImg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: fill;
  opacity: 0.9;
  transition: $transition;
}