@import '../../styles/settings.scss';

.galleryContainer {
  margin: 0 auto;
  text-align: center;
}

.galleryTitle {
  margin: 10px;
  font-size: 30px;
}

.galleryList {
  border: 2px dashed gold;
}

