@import '../../styles/settings.scss';

.appHeaderContainer {
  display: block;
  position: relative;
  margin: 0 auto;
  min-height: 200px;
  text-align: center; 
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid black; 
  color: black;
}

.appHeaderImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //object-fit: fill;
  object-fit: cover; //for imgAlt
  object-position: bottom;
  transition: 4s;
  &:hover {
    object-position: top;
    transition: 4s;
    cursor: pointer;
  }
}